/** --------------------------------------------------------------
 * Breadcrumb
 */
ul.breadcrumb {
  list-style-type: none;
  padding: 0;
  margin: 0 0 22px 0;
}

ul.breadcrumb li {
  padding: 0;
  margin: 0;
  display: inline;
}

ul.breadcrumb a {
  font-size: 0.85em;
  text-decoration: none;
  color: #666;
}

ul.breadcrumb a:hover {
  text-decoration: underline;
  color: #333;
}



