/**
 * CSS for figure and displaying images.
 */

/** --------------------------------------------------------------
 * Enhanced to manage sizes of image and caption
 */
figure.figure {
  display: table;
  padding: 0;
  margin: 16px 16px 22px 16px;
}

  /* Chrome shinks images in td */
figure.figure td img {
  max-width: none;
}

figure.figure figcaption {
  display: table-caption;
  caption-side: bottom;
  padding: 0;
  font-style: italic;
}



/** --------------------------------------------------------------
 * Position figure on the article
 */
figure.left {
  float: left;
  margin-right: 1em;
  font-size: 0.875em;
}

figure.right {
  float: right;
  margin-left: 1em;
  font-size: 0.875em;
}

figure.center {
  clear: both;
}

figure.center img {
  margin: 0 auto;
}
  
figure.center figcaption {
  text-align: center;
}
