/** 
 * CSS for gallery.php
 */
ul.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.gallery li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  margin-bottom: 8px;
}

ul.gallery li {
  border: 1px solid #ccc;
  padding: 4px;
}

ul.gallery li figure  {
  margin: 0;
}

ul.gallery li figure figcaption {
  font-size: 0.85em;
  color: #666;
}

ul.gallery li:hover  {
  background-color: #ccc;
}

ul.gallery li:hover figcaption {
  color: #111;
}

ul.gallery li a  {
  text-decoration: none;
}
